/**
 * Theme Name: Eternal Second Blank Child Theme
 * Description: This is just a BLANK starter WordPress Theme template using the Eternal Second WordPress Theme Framework
 * Author: Bill Parrott
 * Template: base_framework_theme
 * Author URI: http://chimericdream.com
 * Version: 1.0
*/
@import url('./css/reset.css');
@import url('./css/misc.css');
@import url('./css/sidebar.css');
@import url('./css/navigation.css');
@import url('./css/search.css');
@import url('./css/posts.css');
@import url('./css/comments.css');

#page-wrap {
    margin: 20px auto;
    width: 960px;
}