.wpsm-twitter-widget {
    font-size: 90%;
}

.wpsm-twitter-widget h2 {
    font-size: 125%;
}

.wpsm-twitter-widget > p {
    color: #555;
}

.wpsm-twitter-widget .tweet {
    padding: 10px;
}

.wpsm-twitter-widget .tweet.alt {
    background-color: #ddd;
}